*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.top-bar-main{
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.top-bar-image{
    height: 100%;
    width:10%;
    text-align: center;
}

.top-bar-options{
    display: flex;
    justify-content: space-evenly;
    width:70%;
}

.top-bar-options-type{
    height: 50%;
    width: 30%;
    text-align: center;
    margin:auto;
    font-size: 15px;
    margin: auto;
}

.top-bar-icons{
    height: 100%;
    width:10%;
    display: flex;
    justify-content: space-evenly;
}

.top-bar-icons-type{
    justify-content: space-evenly;
    margin: auto;
    font-size: 20px;    
}

.top-bar-logo{
    height:80%;
    padding: 5px;
} 

.poster-1{
    margin:3px;
}

.poster-2{
    margin:3px;
}

.poster-3{
    margin:20px;
}

.poster-4{
    margin:20px;
}

.poster-5{
    margin:20px;
}

.poster-6{
    height:300px;
    width:100%;
}

.poster-6>img{
    height:100%;
}

.slider-1{
    border: 1px solid black;
    display:flex;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
    margin:auto;
    width: 90%;
    gap: 3px;
}

.slider-1-child-1{
    height:100%;
    width: 25%;
    position: relative;
}
.slider-1-child-1 > h2,h4{
    text-align: center;
    justify-content: center;
}

.slider-1-child-2{
    border: 1px solid red;
    height:100%;
    width: 70%;
}

.studio-collections{
    width:100%;
    height:700px;
}

.studio-collections-1{
    width:90%;
    height:8%;
    justify-content: center;
    margin:auto;
}

.studio-collections-2{
    width:90%;
    height:90%;
    justify-content: space-evenly;
    margin:auto;
    display: flex;
}

.studio-collections-child-1{
    height:100%;
    width:30%;
}

.studio-collections-image{
    height:80%;
}

.studio-collections-image > img{
    height:100%;
}

.studio-collections-text{
    height:20%;
}

.solutions-essentials{
    height: 550px;
    width: 90%;
    margin:auto; 
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.solutions-essentials-div{
    height: 100%;
    width: 48%;
}

.solutions-essentials-div > img{
    width:100%;
}

footer {
    background-color: rgb(232, 227, 227);
    margin-top: 300px;
  }
  .container {
    margin-left: 150px;
    margin-right: 150px;
  }
  .container .content {
    display: flex;
    padding: 50px;
    justify-content: space-between;
  }
  .container .content .col {
    display: flex;
    flex-direction: column;
  }
  .container .content p:first-child:not(.flex p:first-child) {
    color: black;
    font-size: 22px;
  }
  .container .content p:not(.col, .column p:first-child) {
    color: rgb(90, 89, 89);
    margin-bottom: 10px;
  }
  .container .content .col:first-child {
    gap: 25px;
  }
  .container .content .col:first-child .flex {
    display: flex;
    gap: 50px;
  }
  .container .content .col:first-child .flex .col-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .container .content .col:first-child .flex .col-info p {
    font-size: 14px;
  }
  .container .content .col:first-child .flex .col-info span {
    color: black;
    font-size: 17px;
  }
  .container .content .col .column:first-child {
    margin-right: 50px;
  }
  
  .container .content .col .column p:first-child {
    margin-bottom: 25px;
  }
  .container .content .col .column p:not(p:first-child) {
    margin-bottom: 12px;
  }
  .container .content .col:last-child {
    gap: 15px;
  }
  .container .content .col:last-child .email {
    display: flex;
  }
  .container .content .col:last-child .email input {
    width: 300px;
    height: 40px;
    font-size: 17px;
    color: black;
    background-color: rgb(71, 70, 70);
    padding-left: 10px;
    border: 0;
    outline: 0;
  }
  .container .content .col:last-child .email button {
    width: 200px;
    height: 40px;
    color: black;
    background-color: white;
    padding-left: 10px;
    border: 0;
    outline: 0;
    text-align: center;
    margin-left: -30px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }
  .container .content .col:last-child .social {
    display: flex;
    gap: 20px;
  }
  .container .content .col:last-child .social img {
    width: 40px;
  }
  .content-foot {
    background-color: rgb(57, 56, 56);
  }
   .content-foot .foot-text{
    padding: 25px 80px;
    display: flex;
    justify-content: space-between;
  }
  .content-foot .container p {
    color: rgb(79, 78, 78);
  }
  .content-foot .container p span {
    color: black;
    font-weight: bold;
  }
  .content-foot .container .pay {
    display: flex;
    gap: 20px;
  }
  .content-foot .container .pay img {
    width: 70px;
    height: 40px;
    object-fit: contain;
    background-color: white;
    padding: 10px 5px;
  }
  


